<div class="col-md-4 my-auto container">
  <form id="form_login">
    <div class="mb-3">
      <h1>login</h1>
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email_login"
        name="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">enviar</button>
    </div>
  </form>
  <p>no tenes cuenta<a href="/user/register">registro</a></p>
</div>

<script src="/js/login.js"></script>